.navbar-pokemon{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}
.navbar-pokemon a{
    display: flex;
}
/****************************MAIN**************************/
.main-pokemon {
    padding: 0 20px;
}
